<!--
Copyright Secureworks LLC. All Rights Reserved.
Written by: Li Sun
-->

<header class="header-1">
	<div class="branding">
		<a class="nav-link nav-icon">
		<clr-icon shape="shield"></clr-icon>
		</a>
	</div>

	<div class="header-nav">
		<a class="nav-link nav-text" routerLink="/ruleset" routerLinkActive="active">Ruleset</a>
		<a class="nav-link nav-text" routerLink="/metadata">Metadata</a>
		<a class="nav-link nav-text" routerLink="/bfilter">Build Filter</a>
	</div>

</header>
    
    
    