<h1>Filter by Metadata</h1>
<div>
  <input type="file" (change)="fileChanged($event)">
</div>
<div>
  <h3>Ruleset</h3>
  <div *ngFor="let rule of lines">
      <label>{{rule}}</label>
  </div>
  <ag-grid-angular
    #metadataGrid
    style="width: 100%; height: 640px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="true"
    [groupSelectsChildren]="true"
    [debug]="true"
    [rowSelection]="rowSelection"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="false"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
<br>
<div>
  <button (click)="saveFile()">Export</button>
</div>
